node_modules
.vscode

ploxon/node_modules
ploxon/.vscode

ploxon/ploxon-fullstack/ploxon-frontend/node_modules
ploxon/ploxon-fullstack/ploxon-frontend/.vscode
ploxon/ploxon-fullstack/ploxon-frontend/coverage
ploxon/ploxon-fullstack/ploxon-frontend/cypress

ploxon/ploxon-fullstack/ploxon-backend/node_modules
ploxon/ploxon-fullstack/ploxon-backend/.vscode
ploxon/ploxon-fullstack/ploxon-backend/dist
ploxon/ploxon-fullstack/ploxon-backend/coverage
ploxon/ploxon-fullstack/ploxon-backend/globalConfig.json
