@import "../../styles/colors.scss";

.ploxonHomeHeaderWrap {
  display: flex;
  background-color: $primary;
  justify-content: center;

  .ploxonHomeHeaderContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // max-width: 800px;
    flex-grow: 1;
    padding: 24px 40px;

    img {
      width: 60px;
      align-self: center;
    }

    .languagesAndAccount{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .loginWrap {
        align-self: center;
        align-items: flex-end;
        justify-content: center;
        color: $white;
  
        .link {
          text-align: center;
          // color: $primary;
          text-transform: uppercase;
          margin-top: 16px;
          cursor: pointer;
        }
  
        a {
          color: $white;
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {

}