@import "@/presentation/styles/colors.scss";

ul {
  display: flex;
  flex-direction: column;
  list-style: none;

  .listWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
}