@import "@/presentation/styles/colors.scss";

li {
  list-style: none;
  margin: 2px;

  .rowWrap {
    display: flex;
    flex-direction: row;

    .key {
      text-transform: capitalize;
      font-weight: bold;
      width: 23%;
    }

    .value {
      display: flex;
      flex-direction: row;
    }
  }
}