$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #2232c0;
$primaryDark: #1e203f;
$primaryLight: rgba(30.59%, 32.94%, 66.67%, 0.9);
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #EF5350;