$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #2232c0;
$primaryDark: #1e203f;
$primaryLight: #4e54aa;
$disabledBackground: #CCC;
$disabledColor: #666;
$valid: #4CAF50;
$invalid: #EF5350;